
@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Inter');

*, *:before, *:after{
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main{
  display: block;
}

body{
  line-height: 1;
}

ol, ul{
  list-style: none;
}

blockquote, q{
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after{
  content: '';
  content: none;
}

table{
  border-collapse: collapse;
  border-spacing: 0;
}

input{
  -webkit-appearance: none;
  border-radius: 0;
}

@import "./breakpoints";

$primary1: #86EE2A;
$primary2: #2ED0E1;

$font: 'Inter', sans-serif;

$drk-bkgrd: black;
$lgt-bkgrd: white;

body{
  background: black;
 
}

h1,h2,h3,h4{
  
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  text-shadow: .5px .5px $primary2;
}
h1{
  font-size: 22px;
  color: $primary1;
  text-align: center;
  margin-bottom: .35em;
  @include breakpoint(md){
    font-size: 60px;    
    text-align: left;
    text-align: center;
  }
}
h4{
  font-size: 25px;
 font-weight: 600;;
  text-align: center;
  margin-bottom: .35em;
  color: white;
  @include breakpoint(md){
    font-size: 28px;    
   
    text-align: center;
  }
}
h3{
  font-size: 30px;
 font-weight: 600;;
  text-align: center;
  margin: .35em;
  color: white;
  @include breakpoint(md){
    font-size: 32px;  
    
  
    text-align: center;
  }
}
p{
  font-family: 'Inter', sans-serif;
}
p{
  text-align: center;
  font-size: 20px;
  font-weight: 200;
  color: white;
  @include breakpoint(md){
    font-size: 22px;
    text-align: left;
  }
  
  
}


.primary1-color{
color: $primary1
}
.primary2-color{
  color: $primary2
  }
.secondary-color{
  color: #FF00D6;
}
.row{
  display: flex;
  flex-direction: column;
  @include breakpoint(xs){
    flex-direction: row;
    
}
}

.text-center{
justify-content: center;
}


/**************************BUTTON********************************/
.button-wrap{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  @include breakpoint(md){
    flex-direction: row;
    
}
}
.button{
  color: white;
  padding: .5em 1em;  
  font-family: $font;
  font-size: 20px;
  margin: 0 0 1.5em 0;
  border: solid 2px;

  
  @include breakpoint(md){
    margin: 0 1em 0 0;
  }
}
.button-one{
  border-color: #2ED0E1; 
  box-shadow:5px 3px #86EE2A;
 

}
.button-one:hover{
  text-decoration: none;
  color: $primary1;  
  box-shadow:1px 1px $primary2;

}
.button-one:active{
  border-color: $primary1;
  box-shadow:none;

}
.button-two{
  border-color: #86EE2A; 
  box-shadow:5px 3px #2ED0E1;
}
.button-two:hover{
  text-decoration: none;
  color: $primary2;  
  box-shadow: 2px 1px  #86EE2A;

}
.button-two:active{
  border-color: $primary2;
  box-shadow:none;

}

/***************************************HERO***************************************/
.hero-row{
  display: flex;
  flex-direction: column;

 
  @include breakpoint(md){
    flex-direction: row;
    
}
}
.heroContainer{ 
  height: 100vh;
  width: 100%;  
  background-image: url("../../static/img/dark-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  

 
  @include breakpoint(md){
    background: $drk-bkgrd; 
    
  }

}
.title{
  padding-top: 20vh;
  h1{
    font-size: 50px;
    @include breakpoint(md){
      font-size: 60px;
      
    }
  }
  @include breakpoint(md){
    padding-top: 25vh;
    
  }
}
.heroText{
 width: 100%;
 text-align: center;
 color: white;
 
 margin-top: 25vh;
 padding: 0 10vw;
 
 
 
 h1{
  font-size: 50px;
  color: $primary1;
  text-align: center;
  margin-bottom: .35em;
  @include breakpoint(md){
    font-size: 60px;    
    text-align: left;
  }
}
p{
  text-align: center;
  font-size: 25px;
  font-weight: 200;
  @include breakpoint(md){
    font-size: 30px;
    text-align: left;
  }
  
  
}
 @include breakpoint(md){
  width: 50%;
  margin-top: 40vh;
}
}
.heroImageDesktop{
  display: none;
  @include breakpoint(md){
  display: block;
  width: 50%;
  height: 100vh;
  background-image: url("../../static/img/paintpour.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

}

/************ BURGER ***********************/
#hamburger-wrap{
  position: relative;
  display: block;
  width: 40px;
  height: 40px;    
  z-index:1000;
  margin-left: auto;
  
 
  @include breakpoint(md){
      display: none;
  }
  }    
  .burger-open{
  width: 100%;
  height: 100%;
  }
  .line {
      position: absolute;
      height: 10%;
      width:70%;
      background: linear-gradient(90deg, #86EE2A -4.67%, #2ED0E1 100%);
      box-shadow: .5px .5px black;
      border-radius:10px;
      transition: all cubic-bezier(0.25, 0.1, 0.28, 1.54) 0.32s;
      }
      .line01 {
      top:25%;
      }
      .line02 {
      top:47%;
      }
      .line03 {
      top:69%;
      }
    
      .burger-close .line {
        box-shadow: none;
        background: hotpink;
        }
      .burger-close .line01 {
      transform:rotate(45deg);
      top:49%;
      }
      .burger-close .line02, .burger-close .line03 {
      transform:rotate(-45deg);
      top:49%;
      }
    

/**************************************END HAMBURGER*******************************/


/*************************************NAVBAR**************************************/
.navagation-wrap.mobile-wrap #hamburger-wrap{
position: fixed;
z-index: 100000;
right: 25px;
} 
#active{
color: blue-color;
}
#main-nav-wrap{
display: flex;
justify-content: space-between;
  padding:  .5em .5em .25em;
  background-color: inherit;     
 
  transition: background .5s; 
  
  @include breakpoint(md){
    padding:  1em 5%;
    transition: background 0s; 
  }

.logo-wrap a{
  color: lightskyblue;
  font-size: 20px;
  font-family: black-font;
  img{
    width: 70px;
    @include breakpoint(md){
      width: auto;
    }
  }
  @include breakpoint(md){
   font-size: 32px;
 
  }

  &:hover{
    opacity: .5;
  }
}
.mobile-phone{
margin-left: 25px;
@include breakpoint(md){
  display: none;
}

}
} 


.responsive-nav.mobile-nav .nav{
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  padding: 18vh 10% 10% 10%;
  display: flex;
  flex-direction: column;
  height: 100vh;  
  background: rgb(0, 0, 0);
  z-index: 1000;
  text-align: center;
  @include breakpoint(md){
      padding:0;
      width: auto;
      position: relative;               
      flex-direction: row;
      height: auto; 
      background: inherit;
      margin: .75em;
  }
}
.responsive-nav.mobile-nav p{
  font-weight: bold;
  font-family: black-font;
  margin-bottom: 0;
  color: white;
  font-size: 35px;
  @include breakpoint(md){       
    font-weight: 300;     
    font-size: 20px;       
    
}
}
.dropdown{
  font-weight: bold;
  font-family: black-font;
  margin-bottom: 0;
  color: white;
  background: hotpink;
  font-size: 25px;
  @include breakpoint(md){       
    text-align: left;
    font-size: 20px;       
    
}
}
.responsive-nav.mobile-nav .nav a{

  font-family: $font;
  
  &:hover {
    color:  $primary2;
    text-decoration: none;
   
  }
  &:active {
    color:  $primary1;
   
  }
  &:hover .top-link{
   display: none;   
   
  }
  font-size: 35px;
  line-height: 120%;
  margin:  40px 0;    
  @include breakpoint(md){   
    font-family: 'Inter', sans-serif;    
      font-weight: 300;     
      font-size: 20px;       
      margin: .5em;
      padding: .5em;
      
  &:hover {
    color:  $primary2;
    text-decoration: none;
   
  }
  &:active {
    color:  $primary1;
   
  }
  &:hover .top-link{
   display: none;   
   
  }
      
  }


}
.nav{
  position: fixed;
  right: -100vw;
  transition: all .3s ease-in-out;
  
  @include breakpoint(md){
      width: auto;
      position: relative;  
      margin: .75em;
      display: flex;       
      flex-direction: row;
      height: auto;  
      background: inherit;
      left: 0;
      transition: none;
     

  }

}
.arrow{
  
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 2px;
  margin-left: 5px;
  transform: rotate(-45deg);


}
.down{
  transform: rotate(45deg);
}
.drop{
    font-family: black-font;
  font-weight: bold;
  color: white;
  font-size: 35px;
  line-height: 120%;
  margin:  40px 0; 
  @include breakpoint(md){
    font-family: black-font;
    font-weight: 300;    
    font-size: 20px;   

      line-height: 120%;
      margin: .5em;
      padding: .5em;
}



}
.nav a{
  @include breakpoint(md){
    font-family: 'Inter', sans-serif;
      font-weight: 300;      
      font-size: 20px;
      line-height: 120%;
      margin: .5em;
      padding: .5em;
  }
  &:hover {
    color:  $primary2;
    text-decoration: none;
   
  }
  &:active {
    color:  $primary1;
   
  }
  &:hover .top-link{
   display: none;
   
   
  }


}

.responsive-contact a{
    display: none;

    @include breakpoint(md){
      display: block;
      padding: .5em 2em; 
      border: 3px solid red;
      color: white;
      font-family:black-font;
      font-size: 20px;
      &:hover {
        
        font-weight: bold;
        background: blue;
        border-color: blue;
      }
      &:active {
        color: blue-color;
      }

    }      
}

.hide{
  display: none;
}
ul{
  list-style: none;

}

.dropdown a{
  font-size: 15px;
}
.responsive-nav.mobile-nav .dropdown a {
font-size: 20px;
  @include breakpoint(md){
 font-size: 15px;
 text-align: left;

  }

}

.top-link{
  position: absolute;
   color: $primary2;
  left: .1em;
   top: .15em;
   @include breakpoint(md){
     left: 9px;
     top: 7px;
   }
}
.bottom-link{
 position: relative;
  color: $primary1;
}
/*****************************************END NAVBAR*************************************************/

/**************************************WORK*********************************************/
.work{
  padding: 100px 5vw;
  width: 100%; 
  text-align: center;
  h2{
    margin: 1em 5vw 2em;
    background-image: url("../../static/img/headerbar.png");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   color: white;
   font-weight: 700;
   font-family: $font;
   font-size: 40px;
   padding: 1em 0;
   @include breakpoint(xs){
    margin: 1em 20vw 2em;
   } 
    
  }
  .row{
    justify-content: center;
    margin-bottom: 2em;

  }
  
}
.work-post{
  width: 100%; 
  margin: 0; 
  
  @include breakpoint(xs){
    width: 363px;
    margin: 0 2em; 
    
    
  }
}
.work-image-container{
  height: 100%;
  overflow-y: hidden;
}
.work-image{
  background: linear-gradient(89.82deg, #86EE2A 0.12%, #2ED0E1 50.01%, #FF00D6 99.81%);
  padding: 8px;
  height: 256px;
  overflow-y: hidden;
  img{
    
    width: 100%;
    height: 240px;
    transition: display 2s;

  }
}
.work-image:hover {
  background: linear-gradient(89.82deg, #28470D 0.12%, #0F3D43 50.01%, #4B0140 99.81%);
 
  }
.work-image:hover img{
  display: none;
}
.work-image:hover .work-info{
  display: flex;
  flex-direction: column;
 
  div{
    display: flex;
    
    justify-content: space-around;
   

  }
}
.work-link{
  margin: 1em 0 3em;
 
a{
  color:white;
  font-size: 22px;

}
}

.work-info{
  display: none;
  color: white;
  text-align: center;
  padding: 2em;
  a{
    color: white;
    
  }
  
}

/*************************************************END WORK***********************************************/

/************************************************ABOUT**************************************************/
.about{
  background-image: url("../../static/img/circlesbackground.png");
    padding: 100px 5vw;
    width: 100%; 
    text-align: center;
    background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   color: white;
   
   
   font-family: $font;
   
   h2{
    font-size: 40px;
    font-weight: 700;
    color: $primary1;
   }
   p{
     font-size: 22px;
     padding: 1.5em 0 3em;
     text-align: center;
   }

}

.blue-background{
  background-image: url("../../static/img/bluespots.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}
.linear-background{
  background: linear-gradient(89.82deg, #86EE2A 0.12%, #2ED0E1 50.01%, #FF00D6 99.81%);
}


/************************************************END ABOUT**************************************************/

.box-container{
  display: flex;
  flex-direction: row;  
 
.box{
  padding: .15em;
  display: flex;
   flex-direction: column; 
   justify-content: space-between;
    border: solid 2px green; 
    width:110px;     
     margin:.15em;
     @include breakpoint(md){
      padding: .5em;
      width:130px;
      margin: .5em
     }
     
     h4{
       font-size: 20px;
       color: white;
     }
     p{
       font-size: 18px;
       color: #01ff96;
     }
}


}


.blog-roll{
  display: flex;
  flex-wrap: wrap;
}
.blog-article-roll{
width: 100%;
  @include breakpoint(md){
  width: 45%;
  margin:20px;
  }

}
 .is-featured{
 width: 100%; 
}



.cycle-card{
  
  padding: 2em;
  @include breakpoint(md){
  margin: 50px 2em 0;
 
  }
  img{
    padding: 2em 0;
  }
}


.container{
  padding: 0;
}

/*****************************************PROJECT PAGE********************************************/
.project-roll{
  width: 100%;
}
.project{
  color: white;
  padding: 10vh 5%;
  h1{
    margin: 1.5em 0 1em;
  }
  
   @include breakpoint(md){
    padding: 10vh 15vw;
  }
}
.project-box{
  background: black; 
  width: 100%; 
  color: white;
  padding: 2em;
  font-size: 22px; 
  font-family: $font;
  @include breakpoint(md){
    width: 50%;
  }
  p{
    font-weight: normal;
  }

} 
.project-image{
  width: 100%;
  height: 60vh; 
  overflow-Y: hidden;
  @include breakpoint(md){
    width: 50%;
    overflow-Y: scroll;
  }
}




.content-container{
  padding: 3em 0;
  @include breakpoint(md){
    padding: 3em 10vw;
  }
  p{
    font-weight: normal;
    line-height: 1.5em;
  }
}




/***************************************************FOOTER*****************************************/
.footer{
  justify-content: space-around;
  width: 100%;
  padding: 2em;
  display: flex;
}
.footer-nav{
  display: flex;
  flex-direction: column;
  @include breakpoint(md){
    padding-top: 1em;
  }
 
  a{
    color: white;
    font-family: $font;
    padding: .5em;
    margin: 1em;
    &:hover{
      color: $primary1;
      text-decoration: none;
    }
  }
  @include breakpoint(md){
flex-direction: row;
  }
}
.social{

  img{
    width: 35px;
    @include breakpoint(md){
      width: 50px;
    }
  }
  a{
    margin: .5em;
    padding: .25em;
    @include breakpoint(md){
    margin: 1em;
    padding: .5em
    }
  }
}



/****************************************FORM***************************************/
label{
  color: white;
  font-family: $font;
  margin: 1.5em 0 .2em;
  font-size: 20px;
}
input, textarea {
  background: black;
  color: $primary1;
  box-shadow: 2px 2px $primary1;
  border: solid 2px $primary2;
  font-size: 20px;
  font-family: $font;
  padding: .5em;
 
}

.form-button{
  color: white;
  padding: .5em 1em;
  font-size: 20px;
  font-family: $font;
  background: inherit;
  border: solid 2px $primary1;
  box-shadow: 2px 2px $primary2;
}
form{
  text-align: center;
  @include breakpoint(md){
    text-align: left;
  }
 
}